.form-label
  display: block
  line-height: 21px
  margin-bottom: 12px

  &__text
    color: $secondary-color
    display: block
    padding-left: 4px
    padding-right: 4px

.add-field
  background: none
  border: none
  color: $secondary-color
  cursor: pointer
  line-height: 18px
  padding: 5px 0
  text-decoration: underline
