.form-label
  display: block
  line-height: 21px
  margin-bottom: 12px

  &:last-child
    margin-bottom: 0

  &__text
    color: $secondary-color
    display: block
    padding-left: 4px
    padding-right: 4px

.add-field
  background: none
  border: none
  color: $secondary-color
  cursor: pointer
  line-height: 18px
  padding: 5px 0
  text-decoration: underline

.form-title
  color: $secondary-color
  line-height: 21px
  margin-bottom: 12px

.options
  display: flex
  flex-wrap: wrap
  margin-bottom: 13px

.option1
  cursor: pointer
  margin-right: 8px
  margin-bottom: 8px
  position: relative

  &:last-child
    margin-right: 0

  input[type="checkbox"],
  input[type="radio"]
    position: absolute
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    width: 1px

    &:checked + .option1__text
      color: #fff

    &:checked + .option1__text--type_1
      background-color: #AE7ABB
      border-color: #AE7ABB

    &:checked + .option1__text--type_2
      background-color: #E36F72
      border-color: #E36F72

    &:checked + .option1__text--type_3
      background-color: #39A8BB
      border-color: #39A8BB

    &:checked + .option1__text--type_4
      background-color: #B4C25C
      border-color: #B4C25C

    &:checked + .option1__text--type_5
      background-color: #F2C94C
      border-color: #F2C94C

  &__text
    align-items: center
    border: 2px solid $text-color
    border-radius: 8px
    color: $text-color
    display: inline-flex
    font-size: 9px
    font-weight: 600
    height: 24px
    justify-content: center
    line-height: 16px
    min-width: 70px
    padding: 6px 8px 3px
    transition: color 0.3s, background-color 0.3s, border-color 0.3s
    text-transform: uppercase
    text-align: center
    vertical-align: top

.select-wrapper
  position: relative
  z-index: 1

.info
  margin-bottom: 30px
  padding-bottom: 34px
  position: relative

  &::after
    background-color: #EFEEEE
    box-shadow: 0 4px 4px 0 rgba(#fff, 0.5), inset -4px -4px 16px 0 rgba(#fff, 0.5), inset 4px 4px 16px 0 rgba(#B4B3B1, 0.75)
    bottom: 0
    content: ''
    height: 4px
    display: block
    left: 0
    position: absolute
    top: auto
    width: 100%

  &__inner
    display: flex
    margin-left: -4px
    margin-right: -4px

  &__text,
  &__photo
    padding-left: 4px
    padding-right: 4px

  &__text
    width: 67%

  &__photo
    width: 33%

.foto-upload
  background-color: #fff
  background-position: 50% 50%
  background-repeat: no-repeat
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Ccircle cx='13' cy='13' r='12' stroke='%236F7075'/%3E%3Cline x1='7.40039' y1='12.9003' x2='18.6004' y2='12.9003' stroke='%236F7075'/%3E%3Cline x1='12.9004' y1='18.6002' x2='12.9004' y2='7.40022' stroke='%236F7075'/%3E%3C/g%3E%3C/svg%3E")
  border-radius: 8px
  border: none
  cursor: pointer
  height: 110px

  &--small
    background-size: 16px 16px
    height: 72px

  &.is-upload
    background-size: cover

  &.disabled
    background-color: rgba(#fff, 0.5)
    cursor: default

.questions-list
  list-style: none
  margin: 0
  padding: 0

  &__item
    margin-bottom: 23px

    &:last-child
      margin-bottom: 0

.options2
  margin-top: 20px

  @media(min-width: 700px)
    padding-left: 28px

  &__title
    color: $secondary-color
    line-height: 18px
    margin-bottom: 5px

  &__inner
    display: flex
    flex-wrap: wrap
    margin-left: -4px
    margin-right: -4px
    margin-bottom: 10px

  &__item
    margin-bottom: 8px
    padding-left: 4px
    padding-right: 4px
    width: 50%

    @media(min-width: 700px)
      width: 33.33333%

.mosaic-types
  margin-bottom: 20px

  @media(min-width: 700px)
    padding-left: 28px

  &__title
    color: $secondary-color
    line-height: 18px
    margin-bottom: 9px

  &__list
    display: flex
    flex-wrap: wrap

  &__item
    max-width: 160px
    width: 50%

.mosaic-type
  cursor: pointer
  display: block
  max-width: 116px
  position: relative

  input[type="radio"]
    position: absolute
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    width: 1px

    &:checked + .mosaic-type__svg
      opacity: 1
      stroke: $main-color

    &:checked ~ .mosaic-type__title
      color: $secondary-color
      opacity: 1

  &__svg
    fill: #fff
    height: 72px
    opacity: 0.5
    stroke: #fff
    stroke-width: 1px
    transition: stroke 0.3s, opacity 0.3s
    width: 116px

  &__title
    display: block
    opacity: 0.5
    transition: color 0.3s, opacity
    text-align: center

.photos
  @media(min-width: 700px)
    padding-left: 28px

  &__title
    color: $secondary-color
    line-height: 18px
    margin-bottom: 9px

  &__list
    display: flex
    flex-wrap: wrap
    margin-left: -4px
    margin-right: -4px

  &__item
    max-width: 124px
    padding-left: 4px
    padding-right: 4px
    width: 25%

.options3
  margin-bottom: 12px

  &:last-child
    margin-bottom: 0

  &__title
    color: $secondary-color
    font-size: 10px
    font-weight: 300
    line-height: 18px
    margin-bottom: 3px

  &__list
    display: flex
    flex-wrap: wrap

.option2
  cursor: pointer
  display: block
  margin-right: 8px
  margin-bottom: 8px
  position: relative

  &:last-child
    margin-right: 0

  input[type="checkbox"],
  input[type="radio"]
    position: absolute
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    width: 1px

    &:checked + .option2__text
      background-color: $main-color
      border-color: $main-color
      color: #fff

  &__text
    align-items: center
    border: 1px solid $text-color
    border-radius: 4px
    color: $text-color
    display: inline-flex
    font-size: 10px
    height: 27px
    justify-content: center
    line-height: 13px
    min-width: 27px
    padding: 5px 0 3px
    transition: color 0.3s, background-color 0.3s, border-color 0.3s
    text-align: center
    vertical-align: top

    &--type_2
      min-width: 72px
      padding: 5px 8px 3px

    &--type_3
      font-size: 11px
      min-width: 60px
      padding: 5px 8px 3px

.two-questions
  margin-bottom: 12px

  @media(min-width: 700px)
    display: flex
    justify-content: space-between

  &:last-child
    margin-bottom: 0

  .options3
    @media(min-width: 700px)
      margin-bottom: 0

.options4
  &__list
    display: flex
    flex-wrap: wrap
    margin-left: -4px
    margin-right: -4px

  &__item
    margin-bottom: 8px
    padding-left: 4px
    padding-right: 4px
    width: 50%

  &__title
    color: $secondary-color
    font-size: 10px
    font-weight: 300
    line-height: 18px
    margin-top: 11px

.option3
  cursor: pointer
  display: block
  position: relative

  input[type="checkbox"],
  input[type="radio"]
    position: absolute
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    width: 1px

    &:checked + .option3__image img
      box-shadow: 0 0 0 4px $main-color

  &__image
    border-radius: 4px
    display: block
    outline: 4px solid transparent

    text-align: center
    vertical-align: top

    img
      border-radius: 4px
      box-shadow: 0 0 4px 0 transparent
      transition: box-shadow 0.3s
