<div id="add_worth" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <p class="popup__title">Какие основные ценности вашей компании?</p>
  <form action="">
    <label class="form-label" for="inp_1">
      <span class="form-label__text">Ценность 1</span>
      <input id="inp_1" class="input" name="inp_1" type="text" value="Качество доставки">
    </label>
    <label class="form-label" for="inp_2">
      <span class="form-label__text">Ценность 2</span>
      <input id="inp_2" class="input" name="inp_2" type="text" value="Ассортимент товарного каталога">
    </label>
    <label class="form-label" for="inp_3">
      <span class="form-label__text">Ценность 3</span>
      <input id="inp_3" class="input" name="inp_3" type="text" value="Удобство сайта">
    </label>
    <button class="add-field" type="button">Добавить ещё</button>
    <div class="popup__save-block">
      <button class="button button--wide" type="button">СОХРАНИТЬ</button>
    </div>
  </form>
</div>

<div id="add_article" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <form action="">
    <p class="form-title">Цель публикации</p>
    <div class="options">
      <label class="option" for="point_1">
        <input id="point_1" name="point_1" type="checkbox" value="">
        <span class="option__text option__text--type_1">Оценка</span>
      </label>
      <label class="option" for="point_2">
        <input id="point_2" name="point_2" type="checkbox" value="">
        <span class="option__text option__text--type_2">Опрос</span>
      </label>
      <label class="option" for="point_3">
        <input id="point_3" name="point_3" type="checkbox" value="">
        <span class="option__text option__text--type_3">Отзыв</span>
      </label>
      <label class="option" for="point_4">
        <input id="point_4" name="point_4" type="checkbox" value="">
        <span class="option__text option__text--type_4">портрет клиента</span>
      </label>
      <label class="option" for="point_5">
        <input id="point_5" name="point_5" type="checkbox" value="">
        <span class="option__text option__text--type_5">фотоопрос</span>
      </label>
    </div>
    <label class="form-label">
      <span class="form-label__text">К какой ценности относится</span>
      <span class="select-wrapper">
        <select class="js-select" style="width: 100%">
          <option>Ассортимент товарного каталога</option>
          <option>Качество доставки</option>
          <option>Удобство сайта</option>
        </select>
      </span>
    </label>
    <label class="form-label" for="inp_2_1">
      <span class="form-label__text">Заголовок</span>
      <input id="inp_2_1" class="input" name="inp_2_1" type="text" value="Подарки стали вкуснее">
    </label>
    <div class="info">
      <div class="info__inner">
        <div class="info__text">
          <label class="form-label" for="inp_2_2">
            <span class="form-label__text">Описание</span>
            <textarea id="inp_2_2" class="textarea" name="inp_2_2"></textarea>
          </label>
        </div>
        <div class="info__photo">
          <label class="form-label">
            <span class="form-label__text">Фотография</span>
            <div class="foto-upload"></div>
          </label>
        </div>
      </div>
    </div>
    <ol class="questions-list">
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_1">
          <input id="q_1" name="q_1" type="checkbox">
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Голосование ДА / НЕТ</span>
        </label>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_2">
          <input id="q_2" name="q_2" type="checkbox">
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">10-балльная шкала оценки</span>
        </label>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_3">
          <input id="q_3" name="q_3" type="checkbox">
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Добавить вопрос</span>
        </label>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_4">
          <input id="q_4" name="q_4" type="checkbox">
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Опрос с вариантами ответов</span>
        </label>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_5">
          <input id="q_5" name="q_5" type="checkbox">
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Фотоопрос</span>
        </label>
      </li>
    </ol>
    <div class="popup__publish-block">
      <label class="checkbox-label" for="draft">
        <input id="draft" name="draft" type="checkbox">
        <span class="checkbox-label__icon"></span>
        <span class="checkbox-label__text">Черновик</span>
      </label>
      <button class="button" type="button">ОПУБЛИКОВАТЬ</button>
    </div>
  </form>
</div>

<div id="add_article_2" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <form action="">
    <p class="form-title">Цель публикации</p>
    <div class="options">
      <label class="option" for="point_2_1">
        <input id="point_2_1" name="point_2_1" type="checkbox" value="" checked>
        <span class="option__text option__text--type_1">Оценка</span>
      </label>
      <label class="option" for="point_2_2">
        <input id="point_2_2" name="point_2_2" type="checkbox" value="" checked>
        <span class="option__text option__text--type_2">Опрос</span>
      </label>
      <label class="option" for="point_2_3">
        <input id="point_2_3" name="point_2_3" type="checkbox" value="">
        <span class="option__text option__text--type_3">Отзыв</span>
      </label>
      <label class="option" for="point_2_4">
        <input id="point_2_4" name="point_2_4" type="checkbox" value="">
        <span class="option__text option__text--type_4">портрет клиента</span>
      </label>
      <label class="option" for="point_2_5">
        <input id="point_2_5" name="point_2_5" type="checkbox" value="">
        <span class="option__text option__text--type_5">фотоопрос</span>
      </label>
    </div>
    <label class="form-label">
      <span class="form-label__text">К какой ценности относится</span>
      <span class="select-wrapper">
        <select class="js-select" style="width: 100%">
          <option>Ассортимент товарного каталога</option>
          <option>Качество доставки</option>
          <option>Удобство сайта</option>
        </select>
      </span>
    </label>
    <label class="form-label" for="inp_3_1">
      <span class="form-label__text">Заголовок</span>
      <input id="inp_3_1" class="input" name="inp_3_1" type="text" value="Подарки стали вкуснее">
    </label>
    <div class="info">
      <div class="info__inner">
        <div class="info__text">
          <label class="form-label" for="inp_3_2">
            <span class="form-label__text">Описание</span>
            <textarea id="inp_3_2" class="textarea" name="inp_3_2">Большая часть подарков в нашем каталоге – это подарки с мёдом. Несколько лет мы развивали это направление и заботились о пчёлах на наших пасеках. В этом году пчёлы стали счастливее, что отразилось на вкусе нашего мёда.</textarea>
          </label>
        </div>
        <div class="info__photo">
          <label class="form-label">
            <span class="form-label__text">Фотография</span>
            <div class="foto-upload is-upload" style="background-image: url('/images/content/img_8.jpg')"></div>
          </label>
        </div>
      </div>
    </div>
    <ol class="questions-list">
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_2_1">
          <input id="q_2_1" name="q_2_1" type="checkbox" checked>
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Голосование ДА / НЕТ</span>
        </label>
        <label class="form-label form-label--type_2" for="inp_3_2">
          <input id="inp_3_2" class="input input--type_2" name="inp_3_2" type="text" value="Вы уже попробовали?">
        </label>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_2_2">
          <input id="q_2_2" name="q_2_2" type="checkbox" checked>
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">10-балльная шкала оценки</span>
        </label>
        <label class="form-label form-label--type_2" for="inp_3_3">
          <input id="inp_3_3" class="input input--type_2" name="inp_3_3" type="text" value="На сколько вы оцениваете вкус мёда?">
        </label>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_3_3">
          <input id="q_3_3" name="q_3_3" type="checkbox" disabled>
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Добавить вопрос</span>
        </label>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_3_4">
          <input id="q_3_4" name="q_3_4" type="checkbox" checked>
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Опрос с вариантами ответов</span>
        </label>
        <label class="form-label form-label--type_2" for="inp_3_5">
          <input id="inp_3_5" class="input input--type_2" name="inp_3_5" type="text" value="Какой мёд предпочитаете в это время года?">
        </label>
        <div class="options2">
          <p class="options2__title">Варианты ответа</p>
          <div class="options2__inner">
            <div class="options2__item">
              <label class="form-label" for="inp_3_6">
                <input id="inp_3_6" class="input" name="inp_3_6" type="text" value="Светлый">
              </label>
            </div>
            <div class="options2__item">
              <label class="form-label" for="inp_3_7">
                <input id="inp_3_7" class="input" name="inp_3_7" type="text" value="Любой">
              </label>
            </div>
            <div class="options2__item">
              <label class="form-label" for="inp_3_8">
                <input id="inp_3_8" class="input" name="inp_3_8" type="text" value="У меня аллергия на мёд">
              </label>
            </div>
            <div class="options2__item">
              <label class="form-label" for="inp_3_9">
                <input id="inp_3_9" class="input" name="inp_3_9" type="text" value="Тёмный">
              </label>
            </div>
            <div class="options2__item">
              <label class="form-label" for="inp_3_10">
                <input id="inp_3_10" class="input" name="inp_3_10" type="text" value="Густой">
              </label>
            </div>
            <div class="options2__item">
              <label class="form-label" for="inp_3_11">
                <input id="inp_3_11" class="input" name="inp_3_11" type="text" value="" placeholder="Добавить вариант...">
              </label>
            </div>
          </div>
          <label class="checkbox-label" for="q_3_5">
            <input id="q_3_5" name="q_3_5" type="checkbox" checked>
            <span class="checkbox-label__icon"></span>
            <span class="checkbox-label__text">Выбор нескольких вариантов</span>
          </label>
        </div>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_3_6">
          <input id="q_3_6" name="q_3_6" type="checkbox" disabled>
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Фотоопрос</span>
        </label>
      </li>
    </ol>
    <div class="popup__publish-block">
      <label class="checkbox-label" for="draft_1">
        <input id="draft_1" name="draft_1" type="checkbox" checked>
        <span class="checkbox-label__icon"></span>
        <span class="checkbox-label__text">Черновик</span>
      </label>
      <button class="button" type="button">ОПУБЛИКОВАТЬ</button>
    </div>
  </form>
</div>

<div id="add_article_3" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#close" />
    </svg>
  </button>
  <form action="">
    <p class="form-title">Цель публикации</p>
    <div class="options">
      <label class="option" for="point_3_1">
        <input id="point_3_1" name="pointpoint_3_1_2_1" type="checkbox" value="" checked>
        <span class="option__text option__text--type_1">Оценка</span>
      </label>
      <label class="option" for="point_3_2">
        <input id="point_3_2" name="point_3_2" type="checkbox" value="">
        <span class="option__text option__text--type_2">Опрос</span>
      </label>
      <label class="option" for="point_3_3">
        <input id="point_3_3" name="point_3_3" type="checkbox" value="">
        <span class="option__text option__text--type_3">Отзыв</span>
      </label>
      <label class="option" for="point_3_4">
        <input id="point_3_4" name="point_3_4" type="checkbox" value="">
        <span class="option__text option__text--type_4">портрет клиента</span>
      </label>
      <label class="option" for="point_3_5">
        <input id="point_3_5" name="point_3_5" type="checkbox" value="" checked>
        <span class="option__text option__text--type_5">фотоопрос</span>
      </label>
    </div>
    <label class="form-label">
      <span class="form-label__text">К какой ценности относится</span>
      <span class="select-wrapper">
        <select class="js-select" style="width: 100%">
          <option>Ассортимент товарного каталога</option>
          <option>Качество доставки</option>
          <option>Удобство сайта</option>
        </select>
      </span>
    </label>
    <label class="form-label" for="inp_4_1">
      <span class="form-label__text">Заголовок</span>
      <input id="inp_4_1" class="input" name="inp_4_1" type="text" value="Подарки стали вкуснее">
    </label>
    <div class="info">
      <div class="info__inner">
        <div class="info__text">
          <label class="form-label" for="inp_4_2">
            <span class="form-label__text">Описание</span>
            <textarea id="inp_4_2" class="textarea" name="inp_4_2">Большая часть подарков в нашем каталоге – это подарки с мёдом. Несколько лет мы развивали это направление и заботились о пчёлах на наших пасеках. В этом году пчёлы стали счастливее, что отразилось на вкусе нашего мёда.</textarea>
          </label>
        </div>
        <div class="info__photo">
          <label class="form-label">
            <span class="form-label__text">Фотография</span>
            <div class="foto-upload disabled"></div>
          </label>
        </div>
      </div>
    </div>
    <ol class="questions-list">
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_4_1">
          <input id="q_4_1" name="q_4_1" type="checkbox">
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Голосование ДА / НЕТ</span>
        </label>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_4_2">
          <input id="q_4_2" name="q_4_2" type="checkbox">
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">10-балльная шкала оценки</span>
        </label>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_4_3">
          <input id="q_4_3" name="q_4_3" type="checkbox">
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Добавить вопрос</span>
        </label>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_4_4">
          <input id="q_4_4" name="q_4_4" type="checkbox">
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Опрос с вариантами ответов</span>
        </label>
      </li>
      <li class="questions-list__item">
        <label class="checkbox-label" for="q_4_5">
          <input id="q_4_5" name="q_4_5" type="checkbox" checked>
          <span class="checkbox-label__icon"></span>
          <span class="checkbox-label__text">Фотоопрос</span>
        </label>
        <label class="form-label" for="inp_4_3">
          <input id="inp_4_3" class="input" name="inp_4_3" type="text" value="Какой мёд вы бы купили по фотографии?">
        </label>
        <div class="mosaic-types">
          <p class="mosaic-types__title">Вид мозаики</p>
          <div class="mosaic-types__list">
            <div class="mosaic-types__item">
              <label class="mosaic-type" for="mosaic_1">
                <input id="mosaic_1" type="radio" name="mosaic" value="1">
                <svg class="mosaic-type__svg" aria-hidden="true">
                  <use xlink:href="#mosaic_type_1" />
                </svg>
                <span class="mosaic-type__title">2 изображения</span>
              </label>
            </div>
            <div class="mosaic-types__item">
              <label class="mosaic-type" for="mosaic_2">
                <input id="mosaic_2" type="radio" name="mosaic" value="2">
                <svg class="mosaic-type__svg" aria-hidden="true">
                  <use xlink:href="#mosaic_type_2" />
                </svg>
                <span class="mosaic-type__title">4 изображения</span>
              </label>
            </div>
            <div class="mosaic-types__item">
              <label class="mosaic-type" for="mosaic_3">
                <input id="mosaic_3" type="radio" name="mosaic" value="3">
                <svg class="mosaic-type__svg" aria-hidden="true">
                  <use xlink:href="#mosaic_type_3" />
                </svg>
                <span class="mosaic-type__title">6 изображений</span>
              </label>
            </div>
          </div>
        </div>
        <div class="photos">
          <p class="photos__title">Загрузите изображения</p>
          <div class="photos__list">
            <div class="photos__item"><div class="foto-upload foto-upload--small"></div></div>
            <div class="photos__item"><div class="foto-upload foto-upload--small"></div></div>
            <div class="photos__item"><div class="foto-upload foto-upload--small"></div></div>
            <div class="photos__item"><div class="foto-upload foto-upload--small"></div></div>
          </div>
        </div>
      </li>
    </ol>
    <div class="popup__publish-block">
      <label class="checkbox-label" for="draft_2">
        <input id="draft_2" name="draft_2" type="checkbox" checked>
        <span class="checkbox-label__icon"></span>
        <span class="checkbox-label__text">Черновик</span>
      </label>
      <button class="button" type="button">ОПУБЛИКОВАТЬ</button>
    </div>
  </form>
</div>
