<div class="sidebar">
  <div class="sidebar__logo"><img src="images/logo.png" alt="Happy Partner"></div>
  <nav class="menu">
    <ol class="menu__list">
      <li class="menu__list-item">
        <a class="menu__link is-active" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#news" />
          </svg>
          <span class="menu__link-text">новости</span>
        </a>
      </li>
      <li class="menu__list-item">
        <a class="menu__link" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#clients" />
          </svg>
          <span class="menu__link-text">клиенты</span>
        </a>
      </li>
      <li class="menu__list-item">
        <a class="menu__link" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#worth" />
          </svg>
          <span class="menu__link-text">ЦЕННОСТИ</span>
        </a>
      </li>
      <li class="menu__list-item">
        <a class="menu__link" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#gifts" />
          </svg>
          <span class="menu__link-text">ПОДАРКИ</span>
        </a>
      </li>
      <li class="menu__list-item">
        <a class="menu__link" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#feed" />
          </svg>
          <span class="menu__link-text">настройки</span>
        </a>
      </li>
      <li class="menu__list-item">
        <a class="menu__link" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#feed" />
          </svg>
          <span class="menu__link-text">тарифы</span>
        </a>
      </li>
      <li class="menu__list-item">
        <a class="menu__link" href="#">
          <svg class="menu__link-icon" aria-hidden="true">
            <use xlink:href="#feed" />
          </svg>
          <span class="menu__link-text">поддержка</span>
        </a>
      </li>
    </ol>
  </nav>
</div>