.articles-list

.article
  background-color: #fff
  border: 1px solid rgba(#fff,0.2)
  box-shadow: -6px -6px 16px 0 rgba(#fff, 0.5), 6px 6px 16px 0 rgba(#D1CDC7, 0.5)
  border-radius: 16px
  margin-left: auto
  margin-right: auto
  margin-bottom: 48px
  max-width: 695px
  padding: 30px 15px
  position: relative
  width: 100%
  z-index: 1

  @media(min-width: 700px)
    padding: 30px 40px 36px

  &__company-logo
    background-color: #fff
    border-radius: 50%
    display: none
    height: 60px
    left: -90px
    position: absolute
    top: 10px
    width: 60px
    z-index: 1

    @media(min-width: 1040px)
      display: block

  &__top
    color: $secondary-color
    line-height: 18px

    @media(min-width: 768px)
      display: flex
      justify-content: space-between
      margin-bottom: 5px

  &__theme,
  &__company-name
    margin-bottom: 10px

  &__theme
    @media(min-width: 768px)
      max-width: calc(100% - 240px)

  &__company-name
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

    @media(min-width: 768px)
      max-width: 200px

  &__title
    color: $main-color
    font-size: 22px
    font-weight: 400
    line-height: 39px

  &__date
    margin-bottom: 6px

  &__preview-text
    font-size: 13px
    font-weight: 300
    margin-bottom: 4px

    p
      margin-bottom: 15px

      &:last-child
        margin-bottom: 0

  &__image
    margin-bottom: 19px
    text-align: center

    &:last-child
      margin-bottom: 0

    img
      border-radius: 8px

  .input,
  .textarea
    background-color: rgba(#EEEEEE, 0.5)

  .form-label__text
    font-size: 10px
    line-height: 18px
    margin-bottom: 2px
